<a href="https://colab.research.google.com/github/adcaceres69/pruebasPython/blob/main/Conversion_EXT_HORARIA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Importamos las librerias
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#Archivo que contiene los datos
df = pd.read_excel('/DATOS_EXTHOR_0923.xlsx')

In [3]:
df.sample(5)

,MES_DE_LIQUIDACION,DOCUMENTO,APELLIDO_Y_NOMBRE,RAMA,CODIGO_CARGO,DEPENDENCIA_ESTA,CARGA_HORARIA,TIPO_CARGO,REVISTA,SUBVENCION,...,NIVEL_ENSEÑANZA,ZONA,SUELDO_LIQUIDO,PORCENTAJE_ANTIGUEDAD,IMPORTE_EXT_HORARIA,HORA_JOR_EXTED,BASICO_101,ANTIGUEDAD_103,PRESENTISMO_112,ZONA_116
33,9,40213521,ALARCON ERICA LUJAN,P,731CP9,1,2500,C,2,0,...,P,40,18912734,150,2675652,45,89492.56,13423.88,13423.88,35797.02
3010,9,24417815,DELVALLE ERMELINDA ELIZAB,P,731CP9,1,2500,C,2,0,...,P,20,21510860,111,3856079,45,89492.56,98441.82,13423.88,17898.51
2554,9,31421632,SANTA CRUZ BLANCA PORFIRI,P,531CP9,1,2500,C,1,0,...,P,20,21241214,700,3226518,45,89492.56,62644.79,13423.88,17898.51
2862,9,29963191,GUTIERREZ LETICIA ZULMA,P,731CP9,1,2500,C,2,0,...,P,20,18965167,400,2754347,45,89492.56,35797.02,13423.88,17898.51
657,9,25306207,CARDOZO GRACIELA NOEMI,P,731CP9,1,2500,C,2,0,...,P,150,30733291,700,5272593,45,89492.56,62644.79,13423.88,134238.84

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3398 entries, 0 to 3397
Data columns (total 30 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   MES_DE_LIQUIDACION              3398 non-null   int64
 1   DOCUMENTO                       3398 non-null   int64
 2   APELLIDO_Y_NOMBRE               3398 non-null   object
 3   RAMA                            3398 non-null   object
 4   CODIGO_CARGO                    3398 non-null   object
 5   DEPENDENCIA_ESTA                3398 non-null   int64
 6   CARGA_HORARIA                   3398 non-null   int64
 7   TIPO_CARGO                      3398 non-null   object
 8   REVISTA                         3398 non-null   int64
 9   SUBVENCION                      3398 non-null   int64
 10  DIAS_TRABAJADOS                 3398 non-null   int64
 11  CLAVE_IDENTIFICATORIA           3398 non-null   int64
 12  IDENTIFICACION_ESTABLECIMIENTO  3398 non-null   int64
 13  SUELDO_BRUTO                    3398 non-null   float64
 14  ANTIGUEDAD                      3398 non-null   int64
 15  DESCUENTO_LEY                   3398 non-null   int64
 16  OBRA_SOCIAL                     3398 non-null   int64
 17  SEXO                            3398 non-null   object
 18  CUIL                            3398 non-null   object
 19  CUE                             3397 non-null   float64
 20  NIVEL_ENSEÑANZA                 3398 non-null   object
 21  ZONA                            3398 non-null   int64
 22  SUELDO_LIQUIDO                  3398 non-null   float64
 23  PORCENTAJE_ANTIGUEDAD           3398 non-null   int64
 24  IMPORTE_EXT_HORARIA             3398 non-null   float64
 25  HORA_JOR_EXTED                  3398 non-null   int64
 26  BASICO_101                      3398 non-null   float64
 27  ANTIGUEDAD_103                  3205 non-null   float64
 28  PRESENTISMO_112                 3023 non-null   float64
 29  ZONA_116                        3397 non-null   float64
dtypes: float64(8), int64(15), object(7)
memory usage: 796.5+ KB

In [5]:
df.columns

Index(['MES_DE_LIQUIDACION', 'DOCUMENTO', 'APELLIDO_Y_NOMBRE', 'RAMA',
       'CODIGO_CARGO', 'DEPENDENCIA_ESTA', 'CARGA_HORARIA', 'TIPO_CARGO',
       'REVISTA', 'SUBVENCION', 'DIAS_TRABAJADOS', 'CLAVE_IDENTIFICATORIA',
       'IDENTIFICACION_ESTABLECIMIENTO', 'SUELDO_BRUTO', 'ANTIGUEDAD',
       'DESCUENTO_LEY', 'OBRA_SOCIAL', 'SEXO', 'CUIL', 'CUE',
       'NIVEL_ENSEÑANZA', 'ZONA', 'SUELDO_LIQUIDO', 'PORCENTAJE_ANTIGUEDAD',
       'IMPORTE_EXT_HORARIA', 'HORA_JOR_EXTED', 'BASICO_101', 'ANTIGUEDAD_103',
       'PRESENTISMO_112', 'ZONA_116'],
      dtype='object')

In [8]:
df['SUELDO_LIQUIDO']

0       193846.31
1       188298.28
2       198371.27
3       539400.30
4       270866.26
          ...
3393    432332.53
3394     56522.70
3395    228341.68
3396    197741.68
3397    195853.01
Name: SUELDO_LIQUIDO, Length: 3398, dtype: float64

In [15]:
df['CUE'] = df['CUE'] == 340034700
#df['SUELDO_LIQUIDO'] = df['SUELDO_LIQUIDO']/100
#df['IMPORTE_EXT_HORARIA'] = df['IMPORTE_EXT_HORARIA']/100

In [13]:
df['ZONA_116'].fillna(0, inplace=True)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3398 entries, 0 to 3397
Data columns (total 30 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   MES_DE_LIQUIDACION              3398 non-null   int64
 1   DOCUMENTO                       3398 non-null   int64
 2   APELLIDO_Y_NOMBRE               3398 non-null   object
 3   RAMA                            3398 non-null   object
 4   CODIGO_CARGO                    3398 non-null   object
 5   DEPENDENCIA_ESTA                3398 non-null   int64
 6   CARGA_HORARIA                   3398 non-null   int64
 7   TIPO_CARGO                      3398 non-null   object
 8   REVISTA                         3398 non-null   int64
 9   SUBVENCION                      3398 non-null   int64
 10  DIAS_TRABAJADOS                 3398 non-null   int64
 11  CLAVE_IDENTIFICATORIA           3398 non-null   int64
 12  IDENTIFICACION_ESTABLECIMIENTO  3398 non-null   int64
 13  SUELDO_BRUTO                    3398 non-null   float64
 14  ANTIGUEDAD                      3398 non-null   int64
 15  DESCUENTO_LEY                   3398 non-null   int64
 16  OBRA_SOCIAL                     3398 non-null   int64
 17  SEXO                            3398 non-null   object
 18  CUIL                            3398 non-null   object
 19  CUE                             3398 non-null   bool
 20  NIVEL_ENSEÑANZA                 3398 non-null   object
 21  ZONA                            3398 non-null   int64
 22  SUELDO_LIQUIDO                  3398 non-null   float64
 23  PORCENTAJE_ANTIGUEDAD           3398 non-null   int64
 24  IMPORTE_EXT_HORARIA             3398 non-null   float64
 25  HORA_JOR_EXTED                  3398 non-null   int64
 26  BASICO_101                      3398 non-null   float64
 27  ANTIGUEDAD_103                  3398 non-null   float64
 28  PRESENTISMO_112                 3398 non-null   float64
 29  ZONA_116                        3398 non-null   float64
dtypes: bool(1), float64(7), int64(15), object(7)
memory usage: 773.3+ KB

In [ ]:
df.CODIGO_CARGO

In [17]:
df.IMPORTE_EXT_HORARIA

0       33839.08
1       21247.85
2       33839.08
3       36986.89
4       51938.98
          ...
3393    48004.21
3394    21247.71
3395    33052.13
3396    33052.13
3397    30691.27
Name: IMPORTE_EXT_HORARIA, Length: 3398, dtype: float64

In [18]:
pip install openpyxl

Requirement already satisfied: openpyxl in /usr/local/lib/python3.10/dist-packages (3.1.2)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.10/dist-packages (from openpyxl) (1.1.0)

In [19]:
df.to_excel('/DATOS0923.xlsx', index=False, engine='openpyxl')